<center>
 <body>
  <div class='suggestion'>
   <% if @suggestion %>
    <br>
    (<%= @suggestion.year %>)
    <br>
    <%= @suggestion.title %>
    <br>
    <%= image_tag @suggestion.poster %>
    <br>
    <%= @suggestion.runtime %> mins
    <br>
    <%= @suggestion.ratings %>/10
    <br>
    <%= @suggestion.votes %> votes
  </div>
  <div class = 'rejectbutton'>
  <%= button_to 'Reject', film_path(@suggestion, status: 'rejected'), method: :patch %>
  </div>
  <div class = 'shelfbutton'>
  <%= button_to 'Shelve', film_path(@suggestion, status: 'shelved'), method: :patch %>
  </div>
  <div class = 'listbutton'>
  <%= button_to 'List', film_path(@suggestion, status: 'listed'), method: :patch %>
  </div>
   <% end %>   
  <% unless @shelf.any? %>
  <%= render 'create'%>
  <% end %>
  <div class='shelf'>
   <% @shelf.each do |film| %>
    <%= image_tag film.poster %>
   <% end %>
  </div>
 </body>
</center>