<div class='middle'> 
 <div class='suggestion'>
  <% if @suggestion %>
   <div class='suggestiontitle'>
   <%= @suggestion.title %></div>
   <br>
   <%= image_tag @suggestion.poster %>
   <br>
   <div class='suggestionyear'>
   <%= @suggestion.year %></div>
   <div class='suggestionruntime'>
   <%= @suggestion.runtime %></div>
   <div class='suggestionrating'>
   <%= @suggestion.ratings %></div>
 </div>

 <div class='actionbuttons'>
   <%= link_to image_tag("http://i60.tinypic.com/1zf7yg6.png"), film_path(@suggestion, status: 'lost'), method: :patch, class: 'loseitbutton' %>
   
   <%= link_to image_tag("http://i57.tinypic.com/5loxhv.png"), film_path(@suggestion, status: 'shelved'), method: :patch, class: 'shelvebutton' %>

   <%= link_to image_tag("http://i57.tinypic.com/f4mebl.png"), film_path(@suggestion, status: 'listed'), method: :patch, class: 'listitbutton' %>
 </div>

  <% end %>

  <% unless @shelf.any? %>
  <%= render 'create'%>
  <% end %>

</div>

<div class='bottom'>

 <div class='reel'>


  <div id='div1' class='reelDiv'>
  <% @lost.sample(16).each do |film| %>
   <%= image_tag film.poster %>
  <% end %>
  </div>

  <div id='div2' class='reelDiv'>
  <% @shelf.sample(16).each do |film| %>
   <%= image_tag film.poster %>
  <% end %>
  </div>

  <div id='div3' class='reelDiv'>
  <% @list.sample(16).each do |film| %>
   <%= image_tag film.poster %>
  <% end %>
  </div>

 </div>

</div> 