<center>
 <div class='suggestion'>
  <% if @suggestion %>
   <%= image_tag @suggestion.poster %>
   <br>
   <%= @suggestion.title %>
   <br>
   <%= @suggestion.year %>
   <br>
   <%= @suggestion.ratings %>
   <%= @suggestion.runtime %>
 </div>

 <div class='actionbuttons'>
   <%= link_to image_tag("http://i60.tinypic.com/1zf7yg6.png"), film_path(@suggestion, status: 'lost'), method: :patch, class: 'loseitbutton' %>
   
   <%= link_to image_tag("http://i57.tinypic.com/5loxhv.png"), film_path(@suggestion, status: 'shelved'), method: :patch, class: 'shelvebutton' %>

   <%= link_to image_tag("http://i57.tinypic.com/f4mebl.png"), film_path(@suggestion, status: 'listed'), method: :patch, class: 'listitbutton' %>
 </div>

  <% end %>

  <% unless @shelf.any? %>
  <%= render 'create'%>
  <% end %>

 <div class='shelf'>
  <% @shelf.each do |film| %>
   <%= image_tag film.poster %>
  <% end %>
 </div>

 </center>