<!DOCTYPE html>
<html>
<head>
  <title>Spectre</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <nav>
  <center>
<% if user_signed_in? %>
  <%= link_to('persona', edit_user_registration_path) %>
  <%= link_to('logout', destroy_user_session_path, :method => :delete) %>
<% else %>
  <%= link_to('login', new_user_session_path)  %>
<% end %>
  </center>
 </nav>
<center>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</center> 
<script>
 // $(document).ready(function(){
 //  $('#search_search').keypress(function (e) {
 //   if (e.which == 13) {
 //    e.preventDefault();
 //    $('form').css('visibility', 'hidden');
 //   }
 //  })
 // })
</script>
</body>
</html>