<!DOCTYPE html>
 <html>
  <head>
   <title>spectre</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
 <body>
  <nav>
   <center>
    <% if user_signed_in? %>
     <%= link_to('self', edit_user_registration_path) %>
     <img src='http://i59.tinypic.com/34o96y9.png'></img>
     <%= link_to('exit', destroy_user_session_path, :method => :delete) %>
    <% else %>
     <img src='http://i59.tinypic.com/34o96y9.png'></img>
    <% end %>
   </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
   </center>
  <script>

  </script>
 </body>
</html>