<!DOCTYPE html>
 <html>
  <head>
   <title>spectre</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
 <body>
  <center>
  <div class='top'>
    <% if user_signed_in? %>
     <%= link_to 'profile', edit_user_registration_path, class: 'topbutton', id: 'profilebutton' %>
     <%= link_to image_tag('http://i59.tinypic.com/34o96y9.png'), films_path %>
     <%= link_to 'logout', destroy_user_session_path, :method => :delete, class: 'topbutton', id: 'logoutbutton' %>
    <% else %>
     <img src='http://i59.tinypic.com/34o96y9.png'></img>
    <% end %>
  </div>
    <br>
    <%= yield %>
  <script>
  $(function(){
    $('.showSingle').click(function(){
      $('.reelDiv').hide();
        $('#div'+$(this).attr('target')).show();
    });
  });
  </script>
  </center>
 </body>
</html>